/* 全局样式表 */

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}
.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important;
}
.el-table {
    margin-top: 20px;
    font-size: 12px;
}
/* 
在ElementUI的2.13.0版本中直接引入级联选择框cascader在浏览器中显示异常，
数据过多时级联选择框弹出来的panel高度占满浏览器，
global.css中添加.el-cascader-panel{ height: xxxpx }即可解决此问题。
 */
.el-cascader-panel {
    height: 360px;
}